#projects-participation {
    all: unset;
}

#projects-participation ul {
    list-style: none;
}
#projects-participation ul li.completed a {
    all: unset;
}
#projects-participation span {
    all: unset;
    position: relative;
}

.people-info__container {
    z-index: 13;
    display: none;
    background: #fff;
    color: #000;
    border-radius: 0.5rem;
    box-shadow: 0 0 39px 0 rgb(0 0 0 / 5%);
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    overflow: hidden;
    max-height: 165px;
    max-width: 350px;
}

.people-info__container > div {
    background: #fff;
    color: #000;
    border-radius: 0.5rem;
    box-shadow: 0 0 39px 0 rgb(0 0 0 / 5%);
    position: relative;
    top: 0;
    overflow: hidden;
    max-height: 165px;
}

#projects-participation ul {
    border: none;
    padding: 0;
    display: block;
    position: unset;
    margin: auto;
    overflow-y: auto;
    max-height: 165px;
    max-width: calc(100vw - 4.5rem);
}

#projects-participation ul li,
#projects-participation ul li.completed {
    display: block;
    padding: 0;
    text-align: left;
    cursor: pointer;
    color: #000;
    font-size: 1.112rem;
    white-space: nowrap;
}

#projects-participation ul li a > span {
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(0,0,0,.2);
    transition: .2s all ease-in-out;
}

#projects-participation ul li a:hover > span {
    border-bottom: 1px solid #000;
}

#projects-participation ul li a,
#projects-participation ul li.completed a {
    display: block;
    padding: 0.4rem 0.7rem;
    border-bottom: none !important;
    font-size: 1.112rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

#projects-participation ul {
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
}

#projects-participation ul::-webkit-scrollbar {
    width: .8rem
}

#projects-participation ul::-webkit-scrollbar-track {
    background: #fff
}

#projects-participation ul::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.21);
    border-radius: 30px;
    border: 3px solid #fff;
    box-sizing: border-box
}

@media (max-width: 767px) {
    #company-block {
        margin-top: 0;
    }
}

.edit__skills {
    width: 100%;
}

#projects-participation ul li:hover {
    background: rgba(0,0,0,.05);
}

#projects-participation ul li:hover a {
    color: #000 !important;
    border-color: #000 !important;
}

#projects-participation ul li.completed a {
    color: #8a8a88;
}

#projects-participation ul li.completed:hover a {
    border-color: #8a8a88;
}

#projects-participation span {
    position: relative;
}

#projects-participation span > a {
    white-space: nowrap;
}

.tooltipster-sidetip.tooltipster-shadow .tooltipster-box {
    box-shadow: none !important;
}

.tooltipster-box th,
.tooltipster-box td,
.tooltipster-box a {
    font-size: 1.12rem;
    line-height: 1.7408rem;
}

.history-table tbody tr:hover td {
    background: rgba(0,0,0,.05) !important;
}

.block.block_text {
    word-break: break-word;
}

.block p,
.block a,
.block li {
    -webkit-text-size-adjust: 100%;
}

.person__preview img {
    height: 100%;
}

@media (max-width: 767px) {
    .field__value {
        margin-left: 0;
        padding-top: 0;
    }
    .field__item {
        margin-bottom: 1rem;
    }
}
